<div class="face-snap-card" [ngClass]="{ snapped: hasSnapped }">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    @if (faceSnap.location){
        <p>Localisation : {{ faceSnap.location }}</p>
    }
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>Créer le : {{ faceSnap.createdAt | date: 'dd MMMM YYYY, à HH:mm' }}</p>
    <p>
        <button (click)="onSnap()"> {{SnapButtonText}} </button>
        <a [routerLink]="['/facesnaps', faceSnap.id]" class="view-details-button">View Details</a>
        <span [ngStyle]="{color: 'rgb(0, '+ faceSnap.snaps +', 0)' }">🤌 {{ faceSnap.snaps }}</span>
    </p>
</div>